<header>
  <nav>
    <a href="/">Shrestha's Kitchen</a>
    <ul>
      <li><a href="/cuisines">Cuisines</a></li>
      <li><a href="/cuisines/new">Add New Cuisine</a></li>
    </ul>
  </nav>
</header>
